// GENERATE FONTFACE CSS TEMPLATE
@mixin font($name, $url, $weight, $style) {
	@font-face {
		font-family: '#{$name}';
        src: url('#{$url}');
        font-weight: $weight;
        font-style: $style;
        // users see a fallback font if custom font takes longer than 100ms to load
        // font-display: optional;
    }
}

// INCLUDE CINZEL FONT FACE
@include font("cinzel","../../public/fonts/Cinzel/Cinzel-Black.ttf",800,normal);
@include font("cinzel","../../public/fonts/Cinzel/Cinzel-Bold.ttf",bold,normal);
@include font("cinzel","../../public/fonts/Cinzel/Cinzel-Regular.ttf",normal,normal);

// INCLUDE CUTUVE MONO FONT FACE
@include font("cutive","../../public/fonts/Cutive_Mono/CutiveMono-Regular.ttf",normal,normal);