.banner {
    margin-top:100px;
    
    background: rgb(71, 71, 71);
    color:white;
    background-position: bottom;
    padding:50px 0;
    font-size: 3em;

    font-family:cinzel;
    
        .banner__title {
            text-align:center;
            text-decoration: underline;
        }

}