.black-border {
    width:100%;
    height:100%;
   

    position: absolute;
    top:-36%;

    background-image: url("./image/long-black-border-01.png");
    background-repeat: repeat-x;

    // z-index: -1;

    background-size:481px;
    background-position: 0 0;
    // background-position:cover;
}